mixin b-form-product(items, clsses)
	+b.form-product(class='_' + clsses)
		each item, i in items
			+e.item(class='_' + i)
				+b.info-box-1
					.outline
						+e.top
							// Эффект
							+b-array-word(item.effect, 'effect')
							// Продукт
							+b-img(item.productSrc, 'product')
						+e.middle
							// Название
							+b-array-word(item.name, 'name')
							// Приимущества
							+b-list(item.advantages, 'advantages')
					+e.bottom
						// Цена
						+b-array-word(item.priceInfo, 'price-info')
						// Радиокнопка
						+b.order-box
							+b-array-word(item.orderText, 'order')
							+b-radio-sample('order', i)

				+b.info-box-2
					+e.col_1
						// Рейтинг
						+b-array-word(item.ratingStarText, 'rating-star-text')
						+b-img(item.ratingStarSrc, 'rating-star')
					+e.col_2
						+b-array-word(item.ratingStarValue, 'rating-star-value')
					// Продавец
					+e.col_3
						+b-array-word(item.ratingSellerText, 'rating-seller-text')
						+b-img(item.ratingSellerLogoSrc, 'rating-seller-logo')