.form-product
	&_content
		margin-bottom 30px
		display flex
		flex-direction row
		justify-content space-between
		align-items flex-start
		.form-product
			&__item
				width 310px
				position relative
				box-sizing border-box
				
		.info-box-1
			&__middle
			&__bottom
				background #fff
			&__bottom
				border-radius 0 0 3px 3px