.form-product
	&_content
		display flex
		flex-direction row
		justify-content center
		align-items center
	&__item
		width 320px
		position relative
	.effect
		color #34919f
		position absolute
		&__item
			&_0
				font-size 18px
				font-family RobotoCondensedBold
			&_1
				font-size 12px
	.name
		color #b1a78e
		font-size 26px
		&__item
			display inline-block
			padding-right 10px
			&_0
				font-family RobotoCondensedBold
	.description
		color #b1a78e
		font-family RobotoCondensedLight	

	.rating__logo
		height 15px