mixin b-form-product(items, clsses)
	+b.form-product(class='_' + clsses)
		each item, i in items
			+e.item(class='_' + i)
				+e.info-box
					.form-product__info-box_top
						// Эффект
						+b.effect
							each effect, i in item.effect
								+e.item(class='_' + i)!= effect
						+b.img-product
							+e.IMG.img(src=item.productSrc, alt="product")
						// Название
						+b.name
							each name, i in item.name
								+e.item(class='_' + i)!= name
						// Описание
						+b.description
							each description, i in item.description
								+e.item(class='_' + i)!= description
						// Приимущества
						+b.UL.advantages
							each advantages, i in item.advantages
								+e.LI.item(class='_' + i)!= advantages
					.form-product__info-box_bottom
						// Цена
						+b.price-box
							+b.price
								each priceInfo, i in item.priceInfo
									+e.item(class='_' + i)!= priceInfo
						// Чекбокс
						+b.order-box
							+b.order
								+e.text!= item.orderText
								+e.INPUT.radio(type="radio", name="radio", id="order" + i)
								+e.LABEL.label(for="order" + i)

				
				// Оценка
				+b.rating
					.star-box
						+e.text-1!= item.ratingTextStar
						+e.IMG.star(src=item.ratingStarSrc, alt="rating")
					+e.value-box
						+e.value!= item.ratingValue
					.amazon-box
						+e.text-2!= item.ratingTextAmazon
						+e.IMG.logo(src=item.ratingLogoSrc, alt="logo")