@font-face
	font-family RobotoCondensedBold
	src url(../font/RobotoCondensed/roboto-condensed.bold.ttf)
	
@font-face
	font-family RobotoCondensedItalic
	src url(../font/RobotoCondensed/roboto-condensed.italic.ttf)
	
@font-face
	font-family RobotoCondensedBoldItalic
	src url(../font/RobotoCondensed/roboto-condensed.bold-italic.ttf)

@font-face
	font-family RobotoCondensedLight
	src url(../font/RobotoCondensed/roboto-condensed.light.ttf)

@font-face
	font-family RobotoCondensedLightItalic
	src url(../font/RobotoCondensed/roboto-condensed.light-italic.ttf)

@font-face
	font-family RobotoCondensedRegular
	src url(../font/RobotoCondensed/roboto-condensed.regular.ttf)
	
body
html
	position relative
	height 100%

body
	font-size fontSizeBase
	font-family RobotoCondensedRegular
	background #fbfce2
a
	text-decoration none

.container
	max-width 960px
	margin 0 auto
	box-sizing border-box
	
.wrapper
	background-position center top
	background-repeat no-repeat
	
.wrapper.home
	background url(../img/site-bg.png)

@media tablet
	.container
		padding 0 15px
	.wrapper.home
		background #fbfce2
		
