.content
	.form-product
		.radio-sample
			&_order
				display inline-block
			.radio-sample
				&__radio
					display none
				&__label
					margin-right 10px
					display inline-block
					width 29px
					height 29px
					background url(../img/content/check-order.png)
					background-repeat no-repeat
					background-position bottom left
					position relative
					bottom -5px
	// Активный				
	.form-product
		&__item.active
			.radio-sample
				&_order
				.radio-sample
					&__radio:checked + .radio-sample__label
						background url(../img/content/check-order-active.png)