.popup.active
	.list-link-img
		&_popup
			display flex
			flex-direction column
			justify-content center
			align-items center
			position relative
			z-index 1
			background rgba(0, 0, 0, 0.8)
			.list-link-img
				&__item
					max-width 600px
				&__img
					width 100%