.popup
	.list-link-img
		&_popup
			display flex
			flex-direction column
			justify-content center
			align-items center
			width 100%
			height 100%
			position relative
			z-index 1
			margin 0 auto
			.list-link-img
				&__item
					max-width 600px
				&__img
					width 100%