mixin b-header()
	+b.HEADER.header
		+b.box_1
			+b-array-word(header.promoText, 'promo-text')
		.container
			+b.box_2
				+e.col_1
					+b-img(header.logoSrc, 'logo')
					+b-array-word(header.title, 'title')
				+e.col_2
					+b-img(header.promoBannerSrc, 'promo-banner')