.header
	.array-word
		&_promo-text
			display flex
			flex-direction row
			justify-content center
			align-items flex-start
			.array-word
				&__item
					margin 10px 2px
				&__item_0
				&__item_1
				&__item_3
					font-family RobotoCondensedBold
				&__item_2
					font-family RobotoCondensedBoldItalic
					.delivery
						width 19px
						height 12px
						display inline-block
						background url(../img/content/delivery-yellow.png)
				&__item_0
				&__item_2
					color #fde950
					text-transform uppercase
				&__item_1
				&__item_3
					color #fff
					
		&_title
			font-family RobotoCondensedItalic
			font-size 16px
			color #4a6662
			white-space nowrap
			position relative
			.array-word
				&__item
					position absolute
					top 15px

.content	
	.array-word
		&_reviews
			font-family RobotoCondensedBoldItalic
			font-size 24px
			color #a21f28
			padding-top 40px
			
.footer
	.array-word
		&_title
			font-family RobotoCondensedBoldItalic
			font-size 16px
			margin-left 10px
			text-transform uppercase
			color #375855
			
	.array-word
		&_copyright 
			margin-bottom 5px
			color #375855