.header
	.array-word
		&_promo-text
			display flex
			flex-direction row
			justify-content center
			align-items flex-start
			.array-word
				&__item
					margin 10px 2px
				&__item_0
				&__item_1
				&__item_3
					font-family RobotoCondensedBold
				&__item_2
					font-family RobotoCondensedBoldItalic
					.delivery
						width 19px
						height 12px
						display inline-block
						background url(../img/content/delivery-yellow.png)
				&__item_0
				&__item_2
					color #fde950
					text-transform uppercase
				&__item_1
				&__item_3
					color #fff
					
	.array-word
		&_title
			font-family RobotoCondensedItalic
			font-size 16px
			color #4a6662
			white-space nowrap
			.array-word
				&__item
					padding-top 15px

.content
	.form-product	
		.array-word
			&_effect
				color #34919f
				margin-left 15px
				position absolute
				z-index 3
				top 40px
				.array-word
					&__item
						&_0
							font-size 18px
							font-family RobotoCondensedBold
						&_1
							font-size 12px
							
		.array-word
			&_name
				color #b1a78e
				margin-bottom 10px
				text-align center
				font-size 26px
				padding-top 10px
				margin-bottom 10px
				.array-word
					&__item
						display inline-block
						&_0
							font-family RobotoCondensedBold
							padding-right 10px
						&_2
							width 100%
							font-family RobotoCondensedLight	
							font-size 14px
							
		.array-word
			&_price-info
				padding-top 20px
				width 140px
				margin 0 auto
				padding-bottom 15px
				.array-word
					&__item
						box-sizing border-box
						color #43625f
						display inline-block
						&_0
						&_2
							text-align right
						&_0
						&_1
							font-size 16px
							margin-bottom 10px
						&_1
							padding-left 5px
							position relative
							&::before
								content ""
								display inline-block
								width 62px
								height 16px
								position absolute
								left 3px
								background url(../img/content/cross-out.png)
								background-repeat no-repeat
						&_2
							font-size 30px
							margin-right 5px
						&_3
							font-size 14px
							
		.array-word
			&_rating-star-text
				box-sizing border-box
				font-size 12px
				font-family RobotoCondensedBoldItalic
				color #a1a1a1

		.array-word
			&_rating-star-value
				background #fced7a
				border-radius 10%
				font-size 24px
				font-family RobotoCondensedBoldItalic
				color #5d6062
				display inline-block
				padding 5px

		.array-word
			&_rating-seller-text
				font-family RobotoCondensedItalic
				font-size 11px
				color #a1a1a1
				margin-right 5px

		.array-word
			&_order
				display inline-block
				font-family RobotoCondensedBoldItalic
				font-size 16px
				text-transform uppercase
				color #43625f 
				margin-right 10px

	.array-word
		&_reviews
			font-family RobotoCondensedBoldItalic
			font-size 24px
			color #a21f28
			padding-top 40px

	// Активный пункт	
	.form-product
		&__item.active
			
			.array-word
				&_effect
					top 38px
					
			.array-word
				&_name
					.array-word	
						&__item
							&_0
							&_1
								color #43625f
					
			.array-word
				&_price-info
					width 170px
					text-align center
					.array-word	
						&__item
							&_0
							&_1
								color #ffef78
							&_2
								color #fff
								font-size 36px
							&_3
								color #43625f
								font-size 16px
								background linear-gradient(to right, #fff, #43625f)
								padding 0 10px 0
								display inline-block
							&_2
							&_3
								font-family RobotoCondensedBold
								
			.array-word
				&_order
					font-size 18px
			
.footer
	.array-word
		&_title
			font-family RobotoCondensedBoldItalic
			font-size 16px
			margin-left 10px
			text-transform uppercase
			color #375855
			
	.array-word
		&_copyright 
			margin-bottom 5px
			color #375855