.content
	.img-box
		&_product
			height 215px
			position relative
			&::before
				width 304px
				height 195px
				content ""
				background #fff
				position absolute
				margin-left -152px
				left 50%
				top 20px
				z-index 0
				border-radius 3px 3px 0 0
			.img-box
				&__img
					position absolute
					top 0
					left 0
					z-index 1
					
	.img-box
		&_rating-seller-logo
			.img-box
				&__img
					height 15px
					

.footer
	.img-box
		&_logo-safe
			position relative
			height 60px
			.img-box
				&__img
					position absolute
					top -10px
			