.footer
	.text-brief
		&_warning
			color #375855
			.text-brief
				&__name
					font-size 18px
					display inline
					padding-right 5px
				&__description
					font-size 14px
					display inline
					font-family RobotoCondensedLight