.footer
	.nav
		&_primary
			display flex
			flex-direction row
			justify-content center
			align-items flex-start
		&__item
			color #375855
			margin 0 18px
			font-size 16px
			font-family RobotoCondensedLight
			border-bottom 1px solid #375855
		&__link	
			color #375855