.content
	.list
		&_advantages
			width 220px
			margin 0 auto
			font-size 18px
			.list
				&__item
					padding 5px 0
					line-height 1.5
					&::before
						content ""
						background url(../img/content/check.png)
						float left
						margin-right 5px
						width 25px
						height 24px
					.weight
					&_2
						font-family RobotoCondensedBoldItalic
					.weight
						color #34919f
						text-transform uppercase
					&_2
						color #c82044
						text-transform uppercase
					.delivery
						width 26px
						height 17px
						display inline-block
						background url(../img/content/delivery-red.png)