mixin b-footer()
	+b.FOOTER.footer
		.container
			+b.box_1
				+e.col_1
					+b-img(footer.logoSrc, 'logo')
					+b-array-word(footer.title, 'title')
				+e.col_2
					+b-nav(footer.nav, 'primary')
			+b.box_2
				+b-text-brief(footer.warning, 'warning')
			+b.box_3
				+e.col_1
					+b-array-word(footer.copyright, 'copyright')
					+b-img(footer.logoSafe, 'logo-safe')
				+e.col_2
					+b-list-img(footer.logoPartners, 'logo-partners')