include array-word/array-word
include form-product/form-product
include list-video/list-video
include list-img/list-img
include nav/nav
include img/img
include text-brief/text-brief
include link-img/link-img
include header/header
include content/content
include footer/footer