@require 'array-word/array-word.styl'
@require 'form-product/form-product.styl'
@require 'list-video/list-video.styl'
@require 'nav/nav.styl'
@require 'text-brief/text-brief.styl'
@require 'img/img.styl'
@require 'list-img/list-img.styl'
@require 'list/list.styl'
@require 'header/header.styl'
@require 'content/content.styl'
@require 'footer/footer.styl'